@font-face {
  font-family: 'Ostrich Sans';
  src: url("WebFonts/ostrich-regular.ttf")
  local('Ostrich Sans'),
  format('truetype');
}
body {
  text-align: center;
}

header {
  background: white;
  height: 60px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  border-bottom: 1px solid grey;
}
#header-content {
  width: 100%; margin: 0 auto; padding: 5px 0 0 0;
  overflow: hidden;
}
#container {
  margin-top: 230px;
}
.current {
	border-bottom: 4px solid #61C8FF;
}
#return {
  float: left;
  font-size: 26px; text-transform: uppercase; letter-spacing: 6px;
  font-family: 'Abel', sans-serif;
  color: black;
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  width: 300px;
  padding: 0px;
  margin-top: 15px;
  transition: none;
}
#nav {
	float: right;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  padding: 23px;
  float: left;
  position: relative;
  bottom: 15px;
}
a {
  font-size: 16px;
  font-family: sans-serif, 'Abel';
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  color: black;
  transition: 100ms ease-out;
  -webkit-transition: 100ms ease-out;
  -moz-transition: 100ms ease-out;
  -o-transition: 100ms ease-out;
}

#orange:hover {
  border-bottom: 4px solid #2FEB67;
}
#blue:hover {
  border-bottom: 4px solid #61C8FF;
}
#green:hover  {
  border-bottom: 4px solid #FFC640;
}
#yellow:hover {
  border-bottom: 4px solid #FFFB00;
}
#grey:hover {
  border-bottom: 4px solid #7F6887;
}
#banner {
  top: 65px;
  width: 100%;
  height: 100%; 
  background-repeat: no-repeat;
  background-image: url("Images/BGPic.jpeg");
  position: absolute;
  background-size: cover;
}
    body {
      bottom: 100px;
      text-align: center;
    }
  .info h1 {
    font-family: 'Abel', sans-serif;
    font-size: 70px;
    font-weight: bold;

  }
  .info {
    width: 82%;
    position: relative;
    margin-left: 8%;
	height: 60%;
  }
  .info p {
    font-family: sans-serif, 'Abel';
    font-size: 28px;
    color: white;
    font-variant: small-caps;
    position: relative;
    top: 20px;
    background: rgba(0,0,0,0.5);
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
  }
/*MAIN*/



#menu-icon {

	display: none;
	float: right;
	left: 85%;
	top: 0px;
	position: fixed;
	padding: none;
}

img {
  padding: 8px;
}


/*MEDIA QUERY*/
@media only screen and (max-width : 1065px) {


	#menu-icon {
    top: 5px;
		display: block;
		cursor: pointer;
	}
  #nav {
    display: none;
  }
  #navOpacity {
    height: 25px;
    width: 35px;
    opacity: 1;
    transition: 200ms ease-out;
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
  }
  #navOpacity:hover {
    opacity: 0.7;
    transition: 200ms ease-out;
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
  }
	
	nav ul, nav:active ul { 

		 position: fixed;
    padding: 20px;
    background: white;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    right: 0px;
    top: 44px;
    width: 25%;
    border-radius: 0px 0 4px 4px;
	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}
	#return {
  float: left;
  font-size: 26px; text-transform: uppercase; letter-spacing: 6px;
  font-family: 'Abel', sans-serif;
  color: black;
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  width: 300px;
  padding: 0px;
  margin-top: 15px;
  transition: none;
}