@font-face {
  font-family: 'Ostrich Sans';
  src: url("WebFonts/ostrich-regular.ttf")
  local('Ostrich Sans'),
  format('truetype');
}
@font-face {
  font-family: 'Bebas';
  src: url("WebFonts/BEBAS.TTF")
  local('Bebas'),
  format('truetype');
}
body {
  text-align: center;
}

header {
  background: white;
  height: 60px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
#header-content {
  width: 100%; margin: 0 auto; padding: 5px 0 0 0;
  overflow: hidden;
  
}
#container {
  margin-top: 230px;
}
.current {
	border-bottom: 4px solid #2FEB67;
}
#return {
  float: left;
  font-size: 26px; text-transform: uppercase; letter-spacing: 6px;
  font-family: 'Abel', sans-serif;
  color: black;
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  width: 300px;
  padding: 0px;
  margin-top: 15px;
  transition: none;
}
#nav {
	float: right;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  padding: 23px;
  float: left;
  position: relative;
  bottom: 15px;
}
a {
  font-size: 16px;
  font-family: sans-serif, 'Abel';
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  color: black;
  transition: 100ms ease-out;
  -webkit-transition: 100ms ease-out;
  -moz-transition: 100ms ease-out;
  -o-transition: 100ms ease-out;
}

#orange:hover {
  border-bottom: 4px solid #2FEB67;
}
#blue:hover {
  border-bottom: 4px solid #61C8FF;
}
#green:hover  {
  border-bottom: 4px solid #FFC640;
}
#yellow:hover {
  border-bottom: 4px solid #FFFB00;
}
#grey:hover {
  border-bottom: 4px solid #7F6887;
}

#banner {
  top: 65px;
  width: 100%;
  height: 100%; 
  background-image: url("Images/Blog_Pic.jpg");
  position: fixed;
  background-size: cover;
}
#banner h2 {
  font-family: 'Abel', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-top: 230px;
  color: white;
  text-align: middle;
}


.content {
  width: 80%;
  margin-left: 10%;
  position: relative;
  top: 700px;
  background: white;
  height: 10%;
}
.content h1 {
  font-family: 'Abel', sans-serif;
  color: #424242;
  font-size: 40px;
  width: 100%;
}
.content h2 {
  font-family: sans-serif, helvetica;
  color: orange;
  width: 54.5%;
}
.content p {
  width: 50%;
  margin-right: 20%;
  font-family: sans-serif, helvetica;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 30px;
  text-align: left;
  position: relative;
}
.content img {
  margin-left: 50%;
  position: relative;
  bottom: 250px;
}
#Query {
  position: relative;
  bottom: 50px;
 }

#Queryp {
  width: 85%;
  bottom: 50px;
}
#Query h2 {
  width: 100%;
  color: #77C0FC;
  padding-top: 20px;
  bottom: 50px;
  position: relative;
}
#Myself {
  position: relative;
  bottom: 300px;
}
#Myself h2 {
  color: green;
  width: 100%;
  top: 250px;
  position: relative;
}
#Myself p {
  width: 90%;
  top: 250px;
}
#strength {
  position: relative;
  margin-top: 30%;
  right: 35%;
}
.content2 {
  height: 10%;
  top: 750px;
  position: relative;
  background: white;
  width: 80%;
  margin-left: 10%;
}
.content2 h1 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  color: #424242;
}
.content2 p {
  width: 75%;
  text-align: center;
  font-family: sans-serif, helvetica;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 12.5%;
}
.content2 h2 {
  font-family: 'Abel', sans-serif;
  color: orange;
}

.content3 {
  height: 10%;
  top: 800px;
  position: relative;
  background: white;
  width: 80%;
  margin-left: 10%;
}

.content3 h1 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  color: #424242;
}
.content3 p {
  width: 60%;
  margin-right: 20%;
  font-family: sans-serif, helvetica;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 30px;
  text-align: left;
  position: relative;
}
.content3 img {
  margin-left: 60%;
  position: relative;
  bottom: 325px;
}
#topStrength {
  bottom: 150px;
  position: relative;
}
#content3p {
  width: 90%;
}
.content3 h2 {
  font-family: 'Abel', sans-serif;
  color: #EDED37;
}
.content4 {
  height: 10%;
  top: 850px;
  position: relative;
  background: white;
  width: 80%;
  margin-left: 10%;
}
.content4 h1 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  color: #424242;
}
.content4 p {
  width: 90%;
  margin-right: 20%;
  font-family: sans-serif, helvetica;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 30px;
  text-align: left;
  position: relative;
}
.content4 img {
width: 90%;
height: 90%;
}
.content5 {
  height: 10%;
  top: 900px;
  position: relative;
  background: white;
  width: 80%;
  margin-left: 10%;
}
.content5 h1 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  color: #424242;
}
.content5 p {
  width: 90%;
  margin-right: 20%;
  font-family: sans-serif, helvetica;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 30px;
  text-align: left;
  position: relative;
}
.content5 img {
	width: 50%;
	height: 50%;
}
.content6 {
  height: 10%;
  top: 950px;
  position: relative;
  background: white;
  width: 80%;
  margin-left: 10%;
}
.content6 h1 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  color: #424242;
}
.content6 p {
  width: 90%;
  margin-right: 20%;
  font-family: sans-serif, helvetica;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 30px;
  text-align: left;
  position: relative;
}
#scratch {
  width: 90%;
  height: 90%
  margin-right: 20%;
  font-family: sans-serif, helvetica;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 30px;
  text-align: center;
  position: relative;
}
#game {
	overflow: none;
	background: transparent;
}
/*MAIN*/



#menu-icon {

	display: none;
	float: right;
	left: 85%;
	top: 0px;
	position: fixed;
	padding: none;
}

img {
  padding: 8px;
}


/*MEDIA QUERY*/
@media only screen and (max-width : 1065px) {


	#menu-icon {
    top: 5px;
		display: block;
		cursor: pointer;
	}
  #nav {
    display: none;
  }
  #navOpacity {
    height: 25px;
    width: 35px;
    opacity: 1;
    transition: 200ms ease-out;
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
  }
  #navOpacity:hover {
    opacity: 0.7;
    transition: 200ms ease-out;
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
  }
	
	nav ul, nav:active ul { 

		 position: fixed;
    padding: 20px;
    background: white;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    right: 0px;
    top: 44px;
    width: 25%;
    border-radius: 0px 0 4px 4px;
	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}
	#return {
  float: left;
  font-size: 26px; text-transform: uppercase; letter-spacing: 6px;
  font-family: 'Abel', sans-serif;
  color: black;
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  width: 300px;
  padding: 0px;
  margin-top: 15px;
  transition: none;
}
}
/*@media (max-width: 1120px) {
  li {
    display: inline-block;
    padding: none;
    margin-right: 2%;
    position: relative;
    top: 10px;
    border-bottom: none;
    float: none;
    width: 100px;
    }
    li:hover {
      border-bottom: none;
    }
    a {
      display: inline-block;
      width: 100px;
      border-bottom: none;
      color: black;
    }
    a:hover {
      border-bottom: 1px solid black;
    }
  #return {
    font-size: 32px;
    margin-right: 40px;
    text-align: none;
    background: transparent;
    width: 200px;
    bottom: 10px;
    position: relative;
    border-bottom: none;
  }
  #topStrength {
    padding-top: 0px;
  }
  .content3 {
    height: 1200px;
  }
  header {
  width: 100%;
  height: 90px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);;
  }
  .content{ 
    height: 1100px;
  }
  #molly {
  height: 300px;
  width: 600px;
}
}
@media (max-width: 900px) {
  li {
    display: inline-block;
    padding: none;
    margin-right: 2%;
    position: relative;
    top: 10px;
    border-bottom: none;
    float: none;
    width: 75px;
    }
    li:hover {
      border-bottom: none;
    }
    a {
      display: inline-block;
      width: 75px;
      border-bottom: none;
      color: black;
    }
    a:hover {
      border-bottom: 1px solid black;
    }
  #return {
    font-size: 28px;
    margin-right: 40px;
    text-align: none;
    background: transparent;
    width: 200px;
    bottom: 10px;
    position: relative;
    border-bottom: none;
  }
  header {
  width: 100%;
  height: 90px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);;
  }
 .content {
  height: 1300px;
}
#Query {
  padding-top: 40px;
}
#molly {
  height: 300px;
  width: 600px;
}
}
@media (max-width: 760px) {
  li {
    display: inline-block;
    padding: none;
    margin-right: 2%;
    position: relative;
    top: 10px;
    border-bottom: none;
    float: none;
    width: 75px;
    }
    #bye {
      display: none;
    }
    li:hover {
      border-bottom: none;
    }
    a {
      display: inline-block;
      width: 75px;
      border-bottom: none;
      color: black;
    }
    a:hover {
      border-bottom: 1px solid black;
    }
  #return {
    font-size: 28px;
    margin-right: 40px;
    text-align: none;
    background: transparent;
    width: 200px;
    bottom: 10px;
    position: relative;
    border-bottom: none;
  }
  header {
  width: 100%;
  height: 90px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);;
  }
  .content {
    height: 1500px;
  }
  .content2 {
    height: 1000px;
  }
  .content3 {
    height: 1300px;
  }
  .content5 {
    height: 900px;
  }
  #week2 {
    width: 80%;
  }
  #molly {
  height: 250px;
  width: 450px;
}
}
@media (max-width: 700px) {
  li {
    display: inline-block;
    padding: none;
    margin-right: 2%;
    position: relative;
    top: 10px;
    border-bottom: none;
    float: none;
    width: 75px;
    }
    #bye {
      display: none;
    }
    #bye1 {
      display: none;
    }
    li:hover {
      border-bottom: none;
    }
    a {
      display: inline-block;
      width: 75px;
      border-bottom: none;
      color: black;
    }
    a:hover {
      border-bottom: 1px solid black;
    }
  #return {
    font-size: 28px;
    margin-right: 40px;
    text-align: none;
    background: transparent;
    width: 200px;
    bottom: 10px;
    position: relative;
    border-bottom: none;
  }
  header {
  width: 100%;
  height: 90px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);;
  }
  .content { 
    height: 1800px;
}
#content3p {
  width: 80%;
}
#molly {
  height: 200px;
  width: 400px;
}
}
@media (max-width: 650px) {
  li {
    display: inline-block;
    padding: none;
    margin-right: 2%;
    position: relative;
    top: 10px;
    border-bottom: none;
    float: none;
    width: 75px;
    }
    #bye {
      display: none;
    }
    #bye1 {
      display: none;
    }
    #bye2 {
      display: none;
    }
    li:hover {
      border-bottom: none;
    }
    a {
      display: inline-block;
      width: 75px;
      border-bottom: none;
      color: black;
    }
    a:hover {
      border-bottom: 1px solid black;
    }
  #return {
    font-size: 28px;
    margin-right: 40px;
    text-align: none;
    background: transparent;
    width: 200px;
    bottom: 10px;
    position: relative;
    border-bottom: none;
  }
  header {
  width: 100%;
  height: 90px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);;
  }
 #flow {
  display: none;
 }
 #Query {
  padding-top: 150px;
 }
 #Myself {
  padding-top: 10px;
 }
 .content {
  height: 2000px;
 }
 #Queryp {
  width: 80%;
}
#narrow {
  width: 80%;
}
#Myself p {
  width: 80%;
}
#topStrength {
  bottom: 200px;
}
.content3 {
  height: 1800px;
}
.content5 {
  height: 1200px;
}
#game {
  height: 300px;
  width: 383px;
}
.content6 p {
  width: 80%;
}
.content6 {
  height: 1400px;
}
#scratch {
  width: 80%;
}
}
@media (max-width: 550px) {
  li {
    display: inline-block;
    padding: none;
    margin-right: 2%;
    position: relative;
    top: 10px;
    border-bottom: none;
    float: none;
    width: 75px;
    }
    #bye {
      display: none;
    }
    #bye1 {
      display: none;
    }
    #bye2 {
      display: none;
    }
    #bye3 {
      display: none;
    }
    li:hover {
      border-bottom: none;
    }
    a {
      display: inline-block;
      width: 75px;
      border-bottom: none;
      color: black;
    }
    a:hover {
      border-bottom: 1px solid black;
    }
  #return {
    font-size: 28px;
    margin-right: 40px;
    text-align: none;
    background: transparent;
    width: 200px;
    bottom: 10px;
    position: relative;
    border-bottom: none;
  }
  header {
  width: 100%;
  height: 90px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);;
  }
  #content2 .social a {
    display: inline-block;
    background: none;
    padding: 1px;
    width: none;
    float: none;
    right: 40%;
    border-bottom: none;
    margin-top: 10px;
    list-style: none;
    padding-right: none;
    position: relative;
    margin-right: 5px;
}
#topStrength {
  top: 40px;
}
.content4 {
  height: 1000px;
}
}
@media (max-width: 500px) {
  li {
    display: inline-block;
    padding: none;
    margin-right: 2%;
    position: relative;
    top: 10px;
    border-bottom: none;
    float: none;
    width: 75px;
    }
    li:hover {
      border-bottom: none;
    }
    a {
      display: inline-block;
      width: 75px;
      border-bottom: none;
      color: black;
    }
    a:hover {
      border-bottom: 1px solid black;
    }
  #return {
    font-size: 28px;
    margin-right: 40px;
    text-align: none;
    background: transparent;
    width: 200px;
    bottom: 10px;
    position: relative;
    border-bottom: none;
  }
  header {
  width: 100%;
  height: 90px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  }
  #bye {
      display: none;
    }
    #bye1 {
      display: none;
    }
    #bye2 {
      display: none;
    }
    #bye3 {
      display: none;
    }
.content {
  height: 2500px;
}
#Query {
  width: 90%;
}
#workFlow {
  width: 100%;
  text-align: center;
}
img {
  display: none;
}
.content3 {
  height: 2000px;
}
.content4 {
  height: 1000px;
}
#game {
  display: none;
}
#scratch {
  display: none;
}
.content6 {
  height: 800px;
}
}
@media (max-width: 390px) {
  #bye {
      display: none;
    }
    #bye1 {
      display: none;
    }
    #bye2 {
      display: none;
    }
    #bye3 {
      display: none;
    }
    #bye4 {
      display: none;
    }
}