body {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
		
}
#return1 {
  display: none;
}
#webTitle {
  display: none;
}
#mobileNav {
  display: none;
}
header {
  background: white;
  height: 60px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  z-index: 20;
}
#header-content {
  width: 100%; margin: 0 auto; padding: 5px 0 0 0;
  overflow: hidden;
  
}
#container {
  margin-top: 230px;
}
#return {
  float: left;
  font-size: 26px; text-transform: uppercase; letter-spacing: 6px;
  font-family: 'Abel', sans-serif;
  color: black;
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  width: 300px;
  padding: 0px;
  margin-top: 12px;
  transition: none;
}
#nav {
	float: right;
}
ul {
  list-style-type: none;
}
.current {
	color: #FFC640;
}
li {
  display: inline;
  padding: 23px;
  float: left;
  position: relative;
  top: -3px;
}
a {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  color: black;
  transition: 100ms ease-out;
  -webkit-transition: 100ms ease-out;
  -moz-transition: 100ms ease-out;
  -o-transition: 100ms ease-out;
}

#orange:hover {
  color: #2FEB67;
}
#blue:hover {
  color: #61C8FF;
}
#green:hover  {
  color: #FFC640;
}
#purple:hover {
  color: #7F6887;
}
#yellow:hover {
  color: #FFFB00;
}

#banner {
  top: 61px;
  width: 100%;
  height: 715px; 
  background-image: url("Images/Yosemite.jpg");
  background-size: cover;
  position: absolute;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background-attachment: fixed;
}
#btnScratch {

	display: none;
}
#banner h2 {
  font-family: 'Abel', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-top: 230px;
  color: white;
  position: relative;
  text-align: center;
  margin-left: 2%;
}
.projectChance {
  height: 1250px;
  width: 100%;
  background: white;
  position: relative;
  top: 400px;
}
.projectChance h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Abel', sans-serif;
  padding: 10px;
  top: 40px;
  position: relative;
}
.projectChance p {
  width: 90%;
  margin-left: 5%;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  top: 40px;
  position: relative;
}
.projectChance button {
  padding: 5px;
  background: #FFC640;
  border: 1px solid #FFC640;
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  position: relative;
  top: 55px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0;
  transform: scale(1);
  transition: 200ms ease-in-out;
  -webkit-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
}
.projectChance button:hover {
  transform: scale(0.98);
  transition: 200ms ease-in-out;
  -webkit-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  background: #FFAE00;
}
#chanceSite {
  max-width: 60%;
  position: relative;
  top: 0px;
}
#liveCode {
  max-width: 60%;
  position: relative;
  top: 0px;
}
.P1 {
  height: 1050px;
  background-image: url("Images/SpaceFade.png");
  position: absolute;
  width: 100%;
  top: 2250px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.P1 h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Abel', sans-serif;
}
.desc {
  top: 428px;
  height: 400px;
  width: 100%;
  position: relative;
  background-image: url("Images/PowderBlack.jpg");
}
.desc p {
  font-family: 'Abel', sans-serif;
  width: 90%;
  margin-left: 5%;
  font-size: 24px;
  top: 150px;
  position: relative;
  color: white;
}
.P1desc {
  position: relative;
  top: 1050px;
  width: 100%;
}
.P1desc p {
  color: white;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  bottom: 75px;
  position: relative;
}
.P1desc h3 {
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 34px;
  font-weight: bold;
  bottom: 75px;
  position: relative;
}
.scratch {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  position: relative;
  bottom: 45px;
  cursor: pointer;
}
.scratch:hover, .scratch:focus, .scratch:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
.P2 {
  top: 980px;
  height: 1150px;
  background-image: url("Images/PowderBlack.jpg");
  position: relative;
  width: 100%;
}
#head {
  color: White;
  font-size: 48px;
  font-family: 'Abel', sans-serif;
  position: relative;
  top: 50px;
}
.P2 p {
  color: white;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
  width: 90%;
  margin-left: 5%;
  position: relative;
  top: 100px;
}
.bottomHeader {
  height: 75px;
  position: relative;
  top: 970px;
  width: 100%;
  background: white;
}
.bottomHeader h3 {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  position: relative;
  top: 50%;
}
/*MAIN*/
#codePic {
  position: relative;
  height: 600px;
  width: 500px;
  top: 30px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0px;
}


#menu-icon {

	display: none;
	float: right;
	left: 85%;
	top: 0px;
	position: fixed;
	padding: none;
}

img {
  padding: 8px;
}


/*MEDIA QUERY*/
@media only screen and (max-width : 1065px) {

#codePic {
  position: relative;
  height: 52%;
  width: 52%;
  top: 30px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0px;
}

	#menu-icon {
    top: 5px;
		display: block;
		cursor: pointer;
	}
  #nav {
    display: none;
  }
  #navOpacity {
    height: 25px;
    width: 35px;
    opacity: 1;
    transition: 200ms ease-out;
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
  }
  #navOpacity:hover {
    opacity: 0.7;
    transition: 200ms ease-out;
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
  }
	
	nav ul, nav:active ul { 

		 position: fixed;
    padding: 20px;
    background: white;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    right: 0px;
    top: 60px;
    width: 25%;
    border-radius: 0px 0 4px 4px;
	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}
	#return {
  float: left;
  font-size: 26px; text-transform: uppercase; letter-spacing: 6px;
  font-family: 'Abel', sans-serif;
  color: black;
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  width: 300px;
  padding: 0px;
  margin-top: 15px;
  transition: none;
}
}
@media only screen and (max-width : 667px) {
  header {
  background: white;
  height: 60px;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0px;
  border-bottom: 1px solid grey;
}
#codePic {
  position: relative;
  height: 52%;
  width: 52%;
  top: 30px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0px;
  display: none;
}
#webTitle {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  position: relative;
  left: 7px;
  display: block;
  bottom: 3px;
}

#header-content {
  width: 100%; margin: 0 auto; padding: 5px 0 0 0;
  overflow: hidden;
  
}
#container {
  margin-top: 230px;
}
#return1 img {
  background-color: transparent;
  width: 40px;
  float: left;
  padding-left: 10px;
  position: relative;
  bottom: 3px;
  display: block;
  z-index: 1000;
}
#return1 {
  display: block;
}
#return {
  display: none;
}
#nav {
  float: right;
}
#nav-icon {
  display: none;
}
#navOpacity {
  display: none;
}
ul {
  list-style-type: none;
}
a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  color: black;
  transition: 100ms ease-out;
  -webkit-transition: 100ms ease-out;
  -moz-transition: 100ms ease-out;
  -o-transition: 100ms ease-out;
}

#orange:hover {
  color: #2FEB67;
}
#blue:hover {
  color: #61C8FF;
}
#green:hover  {
  color: #FFC640;
}
#purple:hover {
  color: #7F6887;
}
#yellow:hover {
  color: #FFFB00;
}


/*MEDIA QUERY*/



  #mobileNav {
    position: relative;
    display: block;
    bottom: 22px;
    cursor: pointer;
    padding-left: 1px;
	left: 8px;
    float: right;
    z-index: 1000;
  }
  #nav {
    display: none;
  }
  #mobileNav img {
    height: 35px;
    width: 45px;
    opacity: 1;
    transition: 200ms ease-out;
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
  }
  #mobileNav:hover {
    opacity: 0.7;
    transition: 200ms ease-out;
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
  }
  
  nav ul, nav:active ul { 

    position: absolute;
    padding: 20px;
    background: white;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding-right: 0px;
    top: 61px;
    width: 30%;
    border-radius: 0px 0 4px 4px;
    height: 185px;
    float: right;
  }

  nav li {

    text-align: middle;
    width: 100%;
    padding: 10px 0;
    margin: 0;

  }
  #game {
	display: none;
  }
  #banner {
	top: 60px;
	width: 100%;
	height: 305px; 
	position: absolute;
  background-attachment: scroll;
	background-size: cover;
  }
  #banner h2 {
	font-family: 'Abel', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 110px;
  }
  .desc {
	height: 200px;
	top: 75px;
  }	
  .desc p {
	font-size: 14px;
	top: 50px
  }
  .P1 h1 {
	font-size: 36px;
	bottom: 30px;
	position: relative;
  color: white;
  }
  .P1 {
	height: 450px;
	top: 1060px;
	background-size: cover;
  background-image: none;
  background-color: #1C1C1C;
  }
  .projectChance {
    height: 600px;
    top: 60px;
  }
  .projectChance h1 {
    font-size: 24px;
  }
  .projectChance p {
    font-size: 14px;
  }
  #liveCode {
    display: none;
  }
  #chanceSite {
    max-width: 85%;
  }
  .P1desc p {
	bottom: 900px;
	position: relative;
	font-size: 14px;
  }
  .P1desc h3 {
	bottom: 900px;
	position: relative;
	font-size: 15px;
  }
  .scratch {
	display: none;
  }
  #btnScratch {
	padding: 6px;
	font-size: 15px;
	top: 0px;
	display: inline;
	border: 1px solid white;
	border-radius: 3px;
	background-color: transparent;
	width: 30%;
	right: 10px;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	color: white;
	transition: 400ms ease-out;
	-webkit-transition: 400ms ease-out;
	-moz-transition: 400ms ease-out;
	-o-transition: 400ms ease-out;
	font-family: 'Abel', sans-serif;
  }
  #btnScratch:hover {
	color: orange;
	background-color: white;
	transition: 400ms ease-out;
	-webkit-transition: 400ms ease-out;
	-moz-transition: 400ms ease-out;
	-o-transition: 400ms ease-out;
  }
  .bottomHeader {
	display: block;
	height: 0px;
	width: 0px;
  background-color: white;
  }
  .bottomHeader h3 {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  position: relative;
  display: none;
}
  .P2 {
	top: 1480px;
	position: absolute;
	height: 500px;
  background-image: none;
  background-color: white;
  }
  #head {
	font-size: 36px;
  color: black;
  }
  .P2 p {
	font-size: 14px;
  color: black;
  }
  .projectChance button {
  padding: 5px;
  background: #FFC640;
  border: 1px solid #FFC640;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  position: relative;
  top: 55px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0;
  transform: scale(1);
  transition: 200ms ease-in-out;
  -webkit-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
}
.projectChance button:hover {
  transform: scale(0.98);
  transition: 200ms ease-in-out;
  -webkit-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  background: #FFAE00;
}
